version: '3.8'

services:
  # Контейнер с приложением (PHP + Laravel)
  app:
    build: .
    container_name: vpn-control-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./storage:/var/www/html/storage
      - ./bootstrap/cache:/var/www/html/bootstrap/cache
    depends_on:
      - redis

  # Контейнер с веб-сервером Nginx
  web:
    image: nginx:alpine
    container_name: vpn-control-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  # Контейнер с Redis
  redis:
    image: redis:alpine
    container_name: vpn-control-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
